.frame {
  --denominator: 16;
  --numerator: 9;
  aspect-ratio: var(--denominator) / var(--numerator);
  padding-bottom: calc(var(--numerator) / var(--denominator) * 100%);
  position: relative;
}

.frame > * {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.frame > img,
.frame > video,
.frame > iframe {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.frame_ratio_16\:9 {
  --denominator: 16;
  --numerator: 9;
}

.frame_ratio_1\:1 {
  --denominator: 1;
  --numerator: 1;
}

.frame_ratio_4\:1 {
  --denominator: 4;
  --numerator: 1;
}

.frame_ratio_40\:13 {
  --denominator: 40;
  --numerator: 13;
}
