.grid {
  --minimum: 15rem;
  --space: var(--s1);
  align-content: start;
  display: grid;
  grid-gap: var(--space);
  grid-template-columns: 100%;
}

.grid_above-minimum {
  grid-template-columns: repeat(auto-fill, minmax(var(--minimum), 1fr));
}

@supports (width: min(15rem, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(var(--minimum), 100%), 1fr));
  }
}
