.filter_invert {
  filter: invert(100%) !important;
}

.text-align_center {
  text-align: center !important;
}

.text-align_left {
  text-align: left !important;
}

.max-width_half {
  max-width: calc(var(--measure) / 2) !important;
}

.max-width_third {
  max-width: calc(var(--measure) / 3) !important;
}

.max-width_quarter {
  max-width: calc(var(--measure) / 4) !important;
}

.max-width_fifth {
  max-width: calc(var(--measure) / 5) !important;
}

.height_100\% {
  height: 100%;
}

.width_100\% {
  width: 100%;
}

.list-style_none {
  list-style: none;
}
