<meta charset="utf-8">
<base href="{{ .Page.Permalink | absURL }}">
<meta http-equiv="content-language" content="{{ .Page.Lang }}">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="default-style" content="default">
{{ with .GitInfo }}<meta name="author" content="{{ .AuthorName }}">{{ end }}
<meta name="application-name" content="{{ .Site.Title }}">
<meta name="description" content="{{ .Page.Description }}">
{{ with .Page.Params.tags }}<meta name="keywords" content="{{ delimit . "," }}">{{ end }}
<meta name="referrer" content="origin-when-crossorigin">
<meta name="theme-color" content="#00cfff">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ hugo.Generator }}
{{ partial "meta/open-graph" . }}
{{ partial "meta/twitter" . }}
{{ partial "meta/telegram" . }}
